<div class="auth-page">
    <img class="auth-page__img"
         src="assets/images/img-login.svg"
         alt="">
    <h1 class="auth-page__title">Welcome!</h1>

    

    <div class="auth-buttons">
        <p class="text-c text-secondary m-0">Choose an action</p>

        <div class="auth-buttons__row">
            <a routerLink="/login" class="button button_sm button_fb">Login</a>
            <a routerLink="/forgot-password" class="button button_sm button_danger">Forgot Password</a>
        </div>
    </div>
</div>