<div class="auth-page">
    <img class="auth-page__img"
         src="assets/images/img-login.svg"
         alt="">
    <h1 class="auth-page__title">Welcome Back!</h1>

    <form class="auth-form">
        <custom-input placeholder="email" class="d-block mb-34"
                      icon="contact"
                      value="example@email.com"
                      ></custom-input>

        <custom-input placeholder="password"
                      icon="lock"
                      type="password"
                      class="d-block mb-10"></custom-input>

        <p class="text-r m-0"><a routerLink="/forgot-password">Forgot Password?</a></p>

        <button class="button auth-form__submit-btn">LOG IN</button>
    </form>

    <div class="auth-buttons">
        <p class="text-c text-secondary m-0">Or connect with social</p>

        <div class="auth-buttons__row">
            <button class="button button_sm button_fb">Facebook</button>
            <button class="button button_sm button_danger">Google</button>
        </div>
    </div>
</div>