.auth-page {
    width: 392px;
    margin: 0 auto;
    padding: 24px;

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        margin: 0 0 36px;
    }

    &__img {
        display: block;
        margin: 0 auto 36px;
    }
}