.d {
    &-block {
        display: block;
    }

    &-inline {
        display: inline;
    }
}

.m {
    &-0 {
        margin: 0;
    }

    &t {
        &-200 {
            margin-top: 200px;
        }
    }

    &b {
        &-10 {
            margin-bottom: 10px;
        }

        &-34 {
            margin-bottom: 34px;
        }
    }
}

.text {
    &-l {
        text-align: left;
    }

    &-c {
        text-align: center;
    }

    &-r {
        text-align: right;
    }

    &-secondary {
        color: #b0b0b0;
    }
}
